<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NOL</display-name>
  <welcome-file-list>
    <welcome-file>principal.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Log0</display-name>
    <servlet-name>Log0</servlet-name>
    <servlet-class>servlet.Log0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log0</servlet-name>
    <url-pattern>/Log0Post</url-pattern>
    <url-pattern>/Log0Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log1</display-name>
    <servlet-name>Log1</servlet-name>
    <servlet-class>servlet.Log1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log1</servlet-name>
    <url-pattern>/Log1Post</url-pattern>
    <url-pattern>/Log1Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log2</display-name>
    <servlet-name>Log2</servlet-name>
    <servlet-class>servlet.Log2</servlet-class>
    <init-param>
      <param-name>logFile</param-name>
      <param-value>/home/user/Escritorio/log2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log2</servlet-name>
    <url-pattern>/Log2Post</url-pattern>
    <url-pattern>/Log2Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatApi</display-name>
    <servlet-name>CatApi</servlet-name>
    <servlet-class>servlet.CatApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatApi</servlet-name>
    <url-pattern>/CatApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>servlet.Authentication</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/jsp/Authentication</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ApplicationContent</web-resource-name>
      <url-pattern>/jsp/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>
      The role that is required to access the application
    </description>
    <role-name>rolpro</role-name>
  </security-role>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Protegido</realm-name>
  </login-config>
  <servlet>
    <description></description>
    <display-name>AuthenticationProfesor</display-name>
    <servlet-name>AuthenticationProfesor</servlet-name>
    <servlet-class>servlet.AuthenticationProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationProfesor</servlet-name>
    <url-pattern>/jsp/AuthenticationProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignaturaAlumnos</display-name>
    <servlet-name>AsignaturaAlumnos</servlet-name>
    <servlet-class>servlet.AsignaturaAlumnos</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignaturaAlumnos</servlet-name>
    <url-pattern>/AsignaturaAlumnos</url-pattern>
    <url-pattern>/AsignaturaAlumnos/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nota</display-name>
    <servlet-name>Nota</servlet-name>
    <servlet-class>servlet.Nota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nota</servlet-name>
    <url-pattern>/Nota</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Log4Filter</display-name>
    <filter-name>Log4Filter</filter-name>
    <filter-class>filtro.Log4Filter</filter-class>
    <init-param>
      <param-name>logFile</param-name>
      <param-value>C:\logs\log</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Log4Filter</filter-name>
    <servlet-name>AsignaturaAlumnos</servlet-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-name>AuthenticationProfesor</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DatosExpediente</display-name>
    <servlet-name>DatosExpediente</servlet-name>
    <servlet-class>servlet.DatosExpediente</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosExpediente</servlet-name>
    <url-pattern>/DatosExpediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpedienteAlumno</display-name>
    <servlet-name>ExpedienteAlumno</servlet-name>
    <servlet-class>servlet.ExpedienteAlumno</servlet-class>
        <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpedienteAlumno</servlet-name>
    <url-pattern>/ExpedienteAlumno</url-pattern>
  </servlet-mapping>
</web-app>