<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NOL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Log0</display-name>
    <servlet-name>Log0</servlet-name>
    <servlet-class>servlet.Log0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log0</servlet-name>
    <url-pattern>/Log0Post</url-pattern>
    <url-pattern>/Log0Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log1</display-name>
    <servlet-name>Log1</servlet-name>
    <servlet-class>servlet.Log1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log1</servlet-name>
    <url-pattern>/Log1Post</url-pattern>
    <url-pattern>/Log1Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log2</display-name>
    <servlet-name>Log2</servlet-name>
    <servlet-class>servlet.Log2</servlet-class>
    <init-param>
      <param-name>logFile</param-name>
      <param-value>/home/user/Escritorio/log2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log2</servlet-name>
    <url-pattern>/Log2Post</url-pattern>
    <url-pattern>/Log2Get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatApi</display-name>
    <servlet-name>CatApi</servlet-name>
    <servlet-class>servlet.CatApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatApi</servlet-name>
    <url-pattern>/CatApi</url-pattern>
  </servlet-mapping>
</web-app>