<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NOL</display-name>
  <welcome-file-list>
    <welcome-file>principal.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ApplicationContent</web-resource-name>
      <url-pattern>/alumno/*</url-pattern>
      <url-pattern>/profesor/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>
      The role that is required to access the application
    </description>
    <role-name>rolpro</role-name>
  </security-role>
  <security-role>
    <description>
      The role that is required to access the application
    </description>
    <role-name>rolalu</role-name>
  </security-role>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Protegido</realm-name>
  </login-config>
  <filter>
    <display-name>Log4Filter</display-name>
    <filter-name>Log4Filter</filter-name>
    <filter-class>filtro.Log4Filter</filter-class>
    <init-param>
      <param-name>logFile</param-name>
      <param-value>C:\logs\log</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Log4Filter</filter-name>
    <servlet-name>VistaAsignaturasAlumno</servlet-name>
    <servlet-name>DatosAsignaturasAlumno</servlet-name>
    <servlet-name>DatosExpediente</servlet-name>
    <servlet-name>VistaExpediente</servlet-name>
    <servlet-name>VistaDetalleAsignaturaAlumno</servlet-name>
    <servlet-name>DatosDetallesAsignaturaAlumno</servlet-name>
    <servlet-name>VistaListaAsignaturasProfesor</servlet-name>
    <servlet-name>DatosListaAsignaturasProfesor</servlet-name>
    <servlet-name>VistaListaAlumnosAsignaturaProfesor</servlet-name>
    <servlet-name>DatosListaAlumnosAsignaturaProfesor</servlet-name>
    <servlet-name>VistaDetallesAsignaturaAlumnosProfesor</servlet-name>
    <servlet-name>DatosDetallesAsignaturaAlumnosProfesor</servlet-name>
    <servlet-name>CambiarNotaAlumno</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DatosExpediente</display-name>
    <servlet-name>DatosExpediente</servlet-name>
    <servlet-class>servlet.DatosExpediente</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosExpediente</servlet-name>
    <url-pattern>/alumno/DatosExpediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaExpediente</display-name>
    <servlet-name>VistaExpediente</servlet-name>
    <servlet-class>servlet.VistaExpediente</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaExpediente</servlet-name>
    <url-pattern>/alumno/VistaExpediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaAsignaturasAlumno</display-name>
    <servlet-name>VistaAsignaturasAlumno</servlet-name>
    <servlet-class>servlet.VistaAsignaturasAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaAsignaturasAlumno</servlet-name>
    <url-pattern>/alumno/VistaAsignaturasAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatosAsignaturasAlumno</display-name>
    <servlet-name>DatosAsignaturasAlumno</servlet-name>
    <servlet-class>servlet.DatosAsignaturasAlumno</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosAsignaturasAlumno</servlet-name>
    <url-pattern>/alumno/DatosAsignaturasAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaDetalleAsignaturaAlumno</display-name>
    <servlet-name>VistaDetalleAsignaturaAlumno</servlet-name>
    <servlet-class>servlet.VistaDetalleAsignaturaAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaDetalleAsignaturaAlumno</servlet-name>
    <url-pattern>/alumno/VistaDetalleAsignaturaAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatosDetallesAsignaturaAlumno</display-name>
    <servlet-name>DatosDetallesAsignaturaAlumno</servlet-name>
    <servlet-class>servlet.DatosDetallesAsignaturaAlumno</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosDetallesAsignaturaAlumno</servlet-name>
    <url-pattern>/alumno/DatosDetallesAsignaturaAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaListaAsignaturasProfesor</display-name>
    <servlet-name>VistaListaAsignaturasProfesor</servlet-name>
    <servlet-class>servlet.VistaListaAsignaturasProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaListaAsignaturasProfesor</servlet-name>
    <url-pattern>/profesor/VistaListaAsignaturasProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatosListaAsignaturasProfesor</display-name>
    <servlet-name>DatosListaAsignaturasProfesor</servlet-name>
    <servlet-class>servlet.DatosListaAsignaturasProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosListaAsignaturasProfesor</servlet-name>
    <url-pattern>/profesor/DatosListaAsignaturasProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaListaAlumnosAsignaturaProfesor</display-name>
    <servlet-name>VistaListaAlumnosAsignaturaProfesor</servlet-name>
    <servlet-class>servlet.VistaListaAlumnosAsignaturaProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaListaAlumnosAsignaturaProfesor</servlet-name>
    <url-pattern>/profesor/VistaListaAlumnosAsignaturaProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatosListaAlumnosAsignaturaProfesor</display-name>
    <servlet-name>DatosListaAlumnosAsignaturaProfesor</servlet-name>
    <servlet-class>servlet.DatosListaAlumnosAsignaturaProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosListaAlumnosAsignaturaProfesor</servlet-name>
    <url-pattern>/profesor/DatosListaAlumnosAsignaturaProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VistaDetallesAsignaturaAlumnosProfesor</display-name>
    <servlet-name>VistaDetallesAsignaturaAlumnosProfesor</servlet-name>
    <servlet-class>servlet.VistaDetallesAsignaturaAlumnosProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VistaDetallesAsignaturaAlumnosProfesor</servlet-name>
    <url-pattern>/profesor/VistaDetallesAsignaturaAlumnosProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatosDetallesAsignaturaAlumnosProfesor</display-name>
    <servlet-name>DatosDetallesAsignaturaAlumnosProfesor</servlet-name>
    <servlet-class>servlet.DatosDetallesAsignaturaAlumnosProfesor</servlet-class>
    <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosDetallesAsignaturaAlumnosProfesor</servlet-name>
    <url-pattern>/profesor/DatosDetallesAsignaturaAlumnosProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarNotaAlumno</display-name>
    <servlet-name>CambiarNotaAlumno</servlet-name>
    <servlet-class>servlet.CambiarNotaAlumno</servlet-class>
        <init-param>
      <param-name>ruta</param-name>
      <param-value>http://localhost:9090/CentroEducativo</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarNotaAlumno</servlet-name>
    <url-pattern>/profesor/CambiarNotaAlumno</url-pattern>
  </servlet-mapping>
</web-app>